{% extends "templates/web.html" %}

{% block title %}Auroville Directory{% endblock %}

{% block content %}

<style>
    .back {
        background: #eff3f6;

    }

    .thumb-lg {
        height: 88px;
        width: 88px;
    }

    .card {
        border: none;
        box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);
    }

    .m-b-30 {
        margin-bottom: 30px;
    }

    .social-links li a {
        -webkit-border-radius: 50%;
        background: #fcfdfd;
        border-radius: 50%;
        color: #9f9f9f;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        text-align: center;
        width: 30px;
    }

    .select-wrap {
        position: relative;
    }

    .dropdown-caret {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
    }

    .search-section {
        background-image: url("/files/download.svg");
        background-size: 75%;
        /* Set background-size to contain */
        background-repeat: no-repeat;
        /* Prevent the image from repeating */
        background-position: center center;
        /* Center the background image */
        padding: 100px;
    }

    .result-section {


        background-image: url("/files/m2.svg");
        background-size: cover;
        /* Cover the entire width of the container */
        background-repeat: no-repeat;
        background-position: center center;

    }

    .car {
        -webkit-box-shadow: 3.5px 3px 7.5px 4.5px #dddddd;
        -moz-box-shadow: 3.5px 3px 7.5px 4.5px #dddddd;
        box-shadow: 3.5px 3px 7.5px 4.5px #dddddd;


    }

    .custom-btn {
        background-color: #009473;
        /* Set the background color */
        color: #ffffff;
        /* Set the text color */
        border-color: #009473;
        /* Set the border color (optional) */
    }

    .image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%; /* Ensure the image fits within its container */
}
img {
    pointer-events: none;
}
/*
.watermark {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 20px; 
    color: rgba(255, 255, 255, 0.7); 
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px; 
    border-radius: 5px; 
    pointer-events: none;
}*/
    .rounded-corners {
        border-radius: 15px; /* Adjust the value to control the rounding of the corners */
    }
    @media only screen and (max-width: 768px) { /* Adjust the max-width as needed for your breakpoints */
    img.fixed-size {
        width: 200px;
        height: 200px;
      
    }

    
}
</style>

<div class="site-section back">
    <div class="container">
        <div class="row pt-8 pb-10">
            <form class="form-search col-12">
                <div class="row  align-items-end">



                    <div class="col-sm-3 pt-2">
                        <!--   <label for="search-by">Search By</label>-->
                        <div class="select-wrap">
                            <div class="position-relative">
                                <select name="search_by" id="search-by" class="form-control d-block rounded-0">
                                    <option value="firstname" {% if search_by=="firstname" %}selected{% endif %}>First
                                        Name</option>
                                    <option value="surname" {% if search_by=="surname" %}selected{% endif %}>Surname
                                    </option>
                                    <option value="auroville_name" {% if search_by=="auroville_name" %}selected{% endif
                                        %}>Auroville Name</option>
                                    <option value="email_id" {% if search_by=="email_id" %}selected{% endif %}>Email
                                    </option>
                                    <option value="mobile_id" {% if search_by=="mobile_id" %}selected{% endif %}>Mobile
                                    </option>
                                </select>
                                <div class="dropdown-caret">&#9660;</div>
                            </div>
                        </div>
                        <input value="{{ search_name if search_name is defined else '' }}" type="text"
                            name="search_name" id="search-name" class="form-control d-block rounded-0"
                            placeholder="Enter the Name">
                    </div>
                    <div class="col-sm-3  pt-2">
                        <label for="list-types">Category</label>
                        <div class="select-wrap">

                            <select name="status" id="list-types" class="form-control d-block rounded-0">
                                <option value="" {% if not category_selected %}selected{% endif %}>Select an option
                                </option>
                                {% for category in categories %}

                                <option value="{{category.status}}" {% if category.status==category_selected
                                    %}selected{% endif %}>
                                    {{category.status}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 pt-2">
                        <label for="list-types">Address</label>
                        <div class="select-wrap">

                            <select name="auroville_address" id="list-types" class="form-control d-block rounded-0">
                                <option value="" {% if not type_selected %}selected{% endif %}>Select an option</option>
                                {% for type in address %}
                                <option value="{{type.auroville_address}}" {% if type.auroville_address==type_selected
                                    %}selected{% endif %}>
                                    {{type.auroville_address}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-3 pt-5">
                        <input type="submit" class="btn btn-success text-white btn-block rounded-0 custom-btn"
                            value="Search">
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>

<div class="container-fluid">

    {% if records %}
    <div class="d-flex justify-content-center pt-2">
        <div class="alert alert-warning text-center" role="alert">
            For update contact Auroville Residents Service.
        </div>
    </div>
    <div class="row">
        {% for record in records %}
        <div class="col-md-4 mb-2">
            <div class="card">
                <div class="row no-gutters">
                   
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <div class="image-container position-relative">
                            {% if record.profile_photo %}
                            <img class="img-fluid rounded-corners p-2 fixed-size" src="{{ record.profile_photo }}" alt="Profile Image">
                            {% else %}
                            <img class="img-fluid rounded-corners p-2 fixed-size" src="/files/auroville.png" alt="Default Profile Image">
                            {% endif %}
                           <!-- <div class="watermark">Watermark</div>-->
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ record.first_name }} {{ record.surname }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ record.status }}</h6>
                            <p class="card-text">
                            <div class="d-flex justify-content-between">
                                <span>{{ record.auroville_name }}</span>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="16" height="16"
                                        id="address">
                                        <polygon fill="none" stroke="#37a849" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2"
                                            points="25 11 10 15 10 53 25 49 25 11"></polygon>
                                        <polyline fill="none" stroke="#37a849" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2"
                                            points="34.17 13.5 25 11 25 49 40 53 40 26.44"></polyline>
                                        <polyline fill="none" stroke="#37a849" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2"
                                            points="40 26.44 40 53 55 49 55 26.44"></polyline>
                                        <path fill="none" stroke="#37a849" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2"
                                            d="M47.5,5.55h0a9.21,9.21,0,0,1,9.21,9.21v0A9.21,9.21,0,0,1,47.5,24H38.29a0,0,0,0,1,0,0V14.77A9.21,9.21,0,0,1,47.5,5.55Z"
                                            transform="rotate(-45.01 47.497 14.772)"></path>
                                        <circle cx="47.5" cy="14.68" r="4.28" fill="none" stroke="#37a849"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
                                    </svg>
                                    {{ record.auroville_address }}
                                </span>
                            </div>
                            <br>
                            <b>Email:</b>
                            {% if record.auroville_email_id %}
                            {{ record.auroville_email_id }}
                            {% endif %}
                            {% if record.email_id %}
                            {{ record.email_id }}
                            {% endif %}
                            {% if record.other_email_id %}
                            {{ record.other_email_id }}
                            {% endif %}<br>
                            <b>Phone:</b>
                            {% if record.phone_number_i %}
                            {{ record.phone_number_i }}
                            {% endif %}
                            {% if record.phone_number_ii %}
                            {{ record.phone_number_ii }}
                            {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
        <div class="alert alert-warning text-center" role="alert">
            For update contact Auroville Residents Service.
        </div>
    </div>

    <div class="container-fluid">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if current_page | int == 1 %}disabled{% endif %}">
                    <a class="page-link"
                        href="/directory?page={{ current_page | int - 1 }}&search_by={{ search_by | default('') }}&search_name={{ search_name | default('') }}&status={{ status | default('') }}&auroville_address={{ type_selected | default('') }}"
                        tabindex="-1">Previous</a>
                </li>

                {% if current_page | int > 4 %}
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item disabled"><span class="page-link">...</span></li>
                {% endif %}

                {% for page_number in range(max(1, current_page | int - 3), min(current_page | int + 3, total_pages) +
                1) %}
                <li class="page-item {% if page_number == current_page | int %}active{% endif %}">
                    <a class="page-link"
                        href="/directory?page={{ page_number }}&search_by={{ search_by | default('') }}&search_name={{ search_name | default('') }}&status={{ status | default('') }}&auroville_address={{ type_selected | default('') }}">{{
                        page_number }}</a>
                </li>
                {% endfor %}

                {% if current_page | int < total_pages - 3 %} <li class="page-item disabled"><span
                        class="page-link">...</span></li>
                    <li class="page-item"><a class="page-link"
                            href="/directory?page={{ total_pages }}&search_by={{ search_by | default('') }}&search_name={{ search_name | default('') }}&status={{ status | default('') }}&auroville_address={{ type_selected | default('') }}">{{
                            total_pages }}</a></li>
                    {% endif %}

                    <li class="page-item {% if current_page | int == total_pages %}disabled{% endif %}">
                        <a class="page-link"
                            href="/directory?page={{ current_page | int + 1 }}&search_by={{ search_by | default('') }}&search_name={{ search_name | default('') }}&status={{ status | default('') }}&auroville_address={{ type_selected | default('') }}">Next</a>
                    </li>
            </ul>
        </nav>
    </div>
    {% else %}
    <div class="d-flex justify-content-center pt-2">
        <div class="alert alert-danger text-center" role="alert">
            No Records Found.
        </div>
    </div>
    {% endif %}
</div>




{% endblock %}